.tournament-title{
    margin-top: 20px;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
   
}

.tournament-title{
    text-align: center !important;
    margin-top: 8rem;
    margin-bottom: 20px;
}


